@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Welcome to the Heart Logger App!</h1>

<section>
    <h3>About Us</h3>
    <p>Welcome to the heart logger app! We are proud to present this page as a prototype for an online heart health tracking app!</p>
    <p>This web app was designed with your heart in mind. Imagine this: you have just recently seen a physician whether at your home practice or in the hospital </p>
</section>


