@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>Watching your heart with your physician</h2>
    <br>
    <p>Ensuring that both you and your cardiologist can see you live your life wholeheartedly!</p>
    <br>
    <img src="~/img/Woman-making-heart-with-hands.jpg" alt="A woman making a heart with her hands" width="465" height="262"/>
</div>

