@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>Watching your heart with your physician</h2>
    <br>
    <h4 class="mission-statement">"Ensuring that both you and your cardiologist can see you live your life wholeheartedly!"</h4>
    <br>
    <img src="~/img/Woman-making-heart-with-hands.jpg" alt="A woman making a heart with her hands" width="465" height="262"/>
</div>
<br>
<br>
<div class="flex-container">
    <div class="flex-child">
        <section class="icon-section">
            <i class="fa-regular fa-circle-check fa-3x animate-button"></i>
        </section>
        <section>
            <h5>Personalized Page</h5>
            <p>By creating an account, you can see all of your vital signs and medications through your individualized page.</p>
        </section>
    </div>
    <div class="flex-child">
        <section class="icon-section">
            <i class="fa-regular fa-circle-check fa-3x animate-button"></i>
        </section>
        <section>
            <h5>Sort your records</h5>
            <p>We will help you keep track of your health by letting you organize your data by date, by vital signs, or by medication.</p>
        </section>
    </div>
    <div class="flex-child">
        <section class="icon-section">
            <i class="fa-regular fa-circle-check fa-3x animate-button"></i>
        </section>
        <section>
            <h5>Contact your doctor</h5>
            <p>If something doesn't look right, we will contact your doctor with what they need to help maintain your heart health.</p>
        </section>
    </div>
</div>

