<h1>Resources</h1>
<br>
<h3>How do I measure my heart rate?</h3>
<img src="~/img/heart-rate1.jpg" height="302px" width="839px" alt="To measure heart rate, place your fingers either at the carotid artery or radial artery"/>
<p>One of the main features of this web application is tracking your heart rate! Although you can do this with a heart tracker or a smart watch, how do we actually measure heart rate? Here is how you measure your heart rate:</p>
<ol>
    <li>Place your index and middle fingers on your carotid or radial artery- you can tell these are arteries because they have a rhythmic pulse</li>
    <li>Set a timer for 60 seconds, then start counting the amount of beats until the timer is up</li>
    <ul>
        <li>You can also count the amount of beats in 30 seconds as well, but this is not as accurate!</li>
    </ul>
    <li>The amount of beats in those 60 seconds represents your heart rate (beats per minute)</li>
</ol>
<p>Here are some tips for taking your heart rate:</p>
<ul>
    <li>Be sure to be sitting upright in a chair, free of distractions before measuring your heartrate</li>
    <li>Measure your heart rate at the same time every day 20-30 minutes after taking your heart medications</li>
    <li>Be sure not to measure your heart rate after eating, drinking caffeinated beverages, or exercising! These events tend to increase your heart rate!</li>
</ul>
<h3>How do I measure my blood pressure?</h3>
<section class="flex-container">
    <section style="text-align:left;">
        <p>Measuring your blood pressure is also essential for this web application! You can buy your own automatic blood pressure cuff recommended by your physician. Follow the manufacturor's instructions on how to use youre blood pressure monitor. Need a blood pressure monitor? Click <a href="https://www.validatebp.org/" target="_blank">here</a> to find physician recommended automatic blood pressure monitors. Just in case you can not get an automatic blood pressure cuff, here is how you measure your own blood pressure with a manual blood pressure cuff and stethoscope:</p>
        <ol>
            <li>Ensure that the blood pressure cuff is fully deflated. Once its fully deflated, ensure the air release valve is fully closed(not allowing air to escape)</li>
            <li>Wrap the blood pressure cuff around the whole circumference on your bicep above the elbow snuggly, allowing only 2 fingers to fit between the cuff and your arm, but not too tightly that it will cut off circulation </li>
            <li>Once the blood pressure cuff is secured, relax! The best time to measure your blood pressure is when you're relaxed- wait a few minutes!</li>
            <li>Secure your stethoscope head to your brachial artery, be sure that the ear pieces are in to listen to your pulse!</li>
            <li>Inflate the blood pressure cuff to approximately with the inflation bulb to approximately 185-195mmHg, or until you can not hear your pulse in the stethoscope</li>
            <li>Slowly release the air release valve- once you hear the first faint pulse from your stethoscope, that pressure is your systolic blood pressure (top number)</li>
            <li>Let air slowly escape the blood pressure cuff. Once the pulse is not audible anymore, that pressure is your diastolic blood pressure (bottom number) </li>
        </ol>
        <p>Here are some tips for taking your blood pressure:</p>
            <ul>
                <li>Be sure to be sitting upright in a chair, free of distractions before measuring your blood pressure</li>
                <li>Relax! Your blood pressure is the most accurate when you're calm and your arm is relaxed.</li>
                <li>Measure your blood pressure at the same time every day 20-30 minutes after taking your daily heart medications</li>
                <li>Be sure not to measure your blood pressure after eating, drinking caffeinated beverages, or exercising! These events tend to increase your heart rate!</li>
            </ul>
    </section>
    <section class="flex-column">
        <iframe width="500" height="375" src="https://www.youtube.com/watch?v=rAwliNWe1bI&t=1s" controls></iframe>
        <img height="360" width="360" src="~/img/Blood-Pressure-4.jpg" alt="A visual of tips about taking your blood pressure"/>
    </section>
</section>
<p>Need more information? Contact your physician or visit the <a href="https://www.heart.org/en/" target="_blank">American Heart Association</a></p>
<a href="#">Back to Top</a>
