@model liftoffHealthCare.ViewModels.AddMedicationViewModel;

<h1>Edit your medication</h1>

<form asp-controller="medications" asp-action="ProcessEditedMedication" method="post">
    <input hidden asp-for="MedicationId"/>
    <div class="form-group">
        <label asp-for="Name">Medication Name</label>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Dosage">Dose</label>
        <input asp-for="Dosage"/>
        <span asp-validation-for="Dosage"></span>
    </div>
    <div class="form-group">id="cancelLink" class="cancelLink"
        <label asp-for="DosageDescription">Dose Metric</label>
        <select asp-for="DosageDescription" asp-items="Model.DosageDescriptions"></select>
    </div>
    <div class="form-group">
        <label asp-for="Instruction">Times Per Day</label>
        <select asp-for="Instruction" asp-items="Model.Times"></select>
    </div>
    <input type="submit" value="Update medication" class="btn btn-danger"/>
    <button class="btn btn-danger"><a id="cancelLink" class="cancelLink" asp-controller="Medications" asp-action="Index">Cancel</a></button></>
</form>