<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - liftoffHealthCare</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,700;1,300;1,400&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/504a838eb6.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-red border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><img class="heart" src="~/img/istockphoto-1223367353-612x612.jpg" alt="Home page icon" width="62" height="62"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark animate-button" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark animate-button" asp-area="" asp-controller="Home" asp-action="About">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark animate-button" asp-area="" asp-controller="Home" asp-action="Resources">Resources</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark animate-button" asp-area="" asp-controller="Vitals" asp-action="Index">My Vitals</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark animate-button" asp-area="" asp-controller="Medications" asp-action="Index">My Medications</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            <span class="footer-link"><a class="footer-link animate-button" asp-area="" asp-controller="Home" asp-action="Index">Home</a></span>
            <span class="footer-link"><a class="footer-link animate-button" asp-area="" asp-controller="Home" asp-action="About">About</a></span>
            <span class="footer-link"><a class="footer-link animate-button" asp-area="" asp-controller="Home" asp-action="Resources">Resources</a></span>
            <span class="footer-link"><a class="footer-link animate-button" asp-area="" asp-controller="Vitals" asp-action="Index">My Vitals</a></span>
            <span class="footer-link"><a class="footer-link animate-button" asp-area="" asp-controller="Medications" asp-action="Index">My Medications</a></span>
            <span class="footer-link">&copy; 2022 - Heart Logger</span>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
