@using System.Globalization
@model liftoffHealthCare.Models.Vital

<h1>Edit Vital Signs</h1>
<br>

<form asp-controller="Vitals" asp-action="ProcessEditedVitals" method="post">
    <input hidden asp-for="Id"/>
    <div class="form-group">
        <label asp-for="Date"> Date</label>
        <input type="date" min="@Model.Date.ToString("d", DateTimeFormatInfo.InvariantInfo)" asp-for="Date"/>
        <span class="red-alert" asp-validation-for="Date"></span>
    </div>
    <div class="form-group">
        <label asp-for="HeartRate"> Heart Rate</label>
        <input asp-for="HeartRate" value="@Model.HeartRate"/>
        <span class="red-alert" asp-validation-for="HeartRate"></span>
    </div>
    <div class="form-group">
        <label asp-for="Systolic"> Blood Pressure(Systolic) </label>
        <input asp-for="Systolic" value="@Model.Systolic"/>
        <span class="red-alert" asp-validation-for="Systolic"></span>
    </div>
    <div class="form-group">
        <label asp-for="Diastolic"> Blood Pressure(Distolic) </label>
        <input asp-for="Diastolic" value="@Model.Diastolic"/>
        <span class="red-alert" asp-validation-for="Diastolic"></span>
    </div>
    <input type="submit" value="Update Vital Signs" class="btn btn-danger"/>
</form>
<br>
<form asp-controller="Vitals" asp-action="Index">
    <button class="btn btn-danger">Cancel</button>
</form>



